<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Person List</h1>
<a href="addTask">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>TaskName</th>
            <th>Description</th>
        </tr>
        <tr th:each ="task : ${tasks}">
            <td th:utext="${task.taskName}">...</td>
            <td th:utext="${task.taskDesc}">...</td>
        </tr>
    </table>
</div>
</body>
</html>